{
  "phrase": "",
  "receivers": [
    {"addr": "5TfSQPZCp4zRmzmmc8r1xuW2fpRxNrJifsmXNHK9fm59h6oc", "amount": 100000000, "remark": "candybox"},
    {"addr": "5REK9sHeUC3QrYE7VLrnrdR5zz2S3BYs1263rZ7EU6T3uwdj", "amount": 100000000, "remark": "candybox"},
    {"addr": "5QxbvpH8K3ZZrRYRyt5B9EA6xUYoW5ju9zcSTdL2hWj8EZaq", "amount": 100000000, "remark": "candybox"},
    {"addr": "5QnA1iYjXMsM553kiQRmXYNr9APjR5JkABeCtjHtQPDnzbXd", "amount": 100000000, "remark": "candybox"},
    {"addr": "5QPHKgYaUiDcbGByGWKw2foy4oHP8fZGX3U6Yzmxwnfb8UHe", "amount": 100000000, "remark": "candybox"},
    {"addr": "5Q3setFGGbQynYBkbF2yJGDgDirsEEBviKCE3obE2dRMyroj", "amount": 100000000, "remark": "candybox"},
    {"addr": "5PoBtGsTokaiD2hWr1yZTnWE3NXnamKW9iousVM1D7Yoe68V", "amount": 100000000, "remark": "candybox"},
    {"addr": "5UBiRpsvDwCmTYmsSv5y7doGQRKJDB6nqPVCncpZsmHwdmre", "amount": 100000000, "remark": "candybox"},
    {"addr": "5UE6YqrKaBvMJGAreWiV9t3wTtQbaVmgvz35UCsaBeZeCLFg", "amount": 100000000, "remark": "candybox"},
    {"addr": "5TSNv3hRzUqEbtKvE4FpFtj8jrNtCjG6ShJAF8yvLWo9vBtW", "amount": 100000000, "remark": "candybox"},
    {"addr": "5SNJPvVAVNfpzYWenWPpzLrEGNV349Sib2epJW2RBC5sqrUZ", "amount": 100000000, "remark": "candybox"},
    {"addr": "5RjQVhdn78qUkqEmujzcAwEjAWtJu9VtDuxkpGotGyKUKt69", "amount": 100000000, "remark": "candybox"},
    {"addr": "5TzedGbCjoeNh1kX8ZW9LJ436Fmrz45xLMJzeFL4kads51CA", "amount": 100000000, "remark": "candybox"},
    {"addr": "5QxQegs6y6y1AVQuhqG7FWnZUsgJwYAQBJjgRFWWeDMWgFCP", "amount": 100000000, "remark": "candybox"},
    {"addr": "5TzBDbjc1fN6xaoEM6YdRYwdF5uGwemZ1LYsRguoiSKizFQN", "amount": 100000000, "remark": "candybox"},
    {"addr": "5RnEGB8eMK3wHSdBwdMQAN9tnna2wjx7yTB4iScAmeVBMC1w", "amount": 100000000, "remark": "candybox"},
    {"addr": "5S15BfRiyYtkVeLZhNwBxrodmeDrtL2Z6iv6qFkKQimDLLdn", "amount": 100000000, "remark": "candybox"},
    {"addr": "5SK5W2pwn4k9h77GeTExyeyw3RJxRW2S7koi9PQgyLfEsKwC", "amount": 100000000, "remark": "candybox"},
    {"addr": "5QjMBa7WDc2cvNfobjT6LxnxEdCGVhGjh2cifLRXJhRaYKWe", "amount": 100000000, "remark": "candybox"},
    {"addr": "5TW4NFFSM5HgrHo41Qpz8XxxZ2NwfPESJgK3nzxKeBgsJh5m", "amount": 100000000, "remark": "candybox"},
    {"addr": "5Pno45fyhWdupR2jM8bbvEwb5Kv9AeBKUfeF3Yieabm5ApVv", "amount": 100000000, "remark": "candybox"},
    {"addr": "5UrVYLr28E9sxqU7RujMGtvEHJVNBMc7x9nG1WRKuncGfPyP", "amount": 100000000, "remark": "candybox"},
    {"addr": "5Ub9X86gX7nchuVjaRztCEaK4R1TyjhEpj5c2dTEFU3yNBwz", "amount": 100000000, "remark": "candybox"},
    {"addr": "5Rbuc8axvLhxHm2ZfrwJVuiREk6rV47sgtib719brWX8gF2v", "amount": 100000000, "remark": "candybox"},
    {"addr": "5UrVYLr28E9sxqU7RujMGtvEHJVNBMc7x9nG1WRKuncGfPyP", "amount": 100000000, "remark": "candybox"},
    {"addr": "5UT1FutHqNquJUnHwmnyAVEqWCs9n5995CnUc3C6W58mvPrr", "amount": 100000000, "remark": "candybox"},
    {"addr": "5SjNQdDasB9UxJfmHV6s6cKFvNCAF4qRuUp7BPmEa1vboBAF", "amount": 100000000, "remark": "candybox"},
    {"addr": "5UrVYLr28E9sxqU7RujMGtvEHJVNBMc7x9nG1WRKuncGfPyP", "amount": 100000000, "remark": "candybox"},
    {"addr": "5SK5W2pwn4k9h77GeTExyeyw3RJxRW2S7koi9PQgyLfEsKwC", "amount": 100000000, "remark": "candybox"},
    {"addr": "5TupuuQvsapnqbXuhjFU3CyB3pkcfuQ45gvDqRr7LxzUM237", "amount": 100000000, "remark": "candybox"}
  ]
}