{
  "phrase": "plug echo team palm stool bargain spike treat tired fee hybrid merry",
  "receivers": [
    {"addr": "5UG11mS3LJqCjBcATuYCUZV43fyx9Q4G4osESVooaZTLZSfC", "amount": 500000000, "remark": "choujiang"},

    {"addr": "5E1X1CfvdUzvu9nD7JpeuHiCjHnT2fCapoZUYjcm8pSYbTpQ", "amount": 300000000, "remark": "choujiang"},
    {"addr": "5UE6YqrKaBvMJGAreWiV9t3wTtQbaVmgvz35UCsaBeZeCLFg", "amount": 300000000, "remark": "choujiang"},
    {"addr": "5VJuTwTPA3yXch5X5DMNoEoMytKvGtr2BErRzB3CWeyEpGUp", "amount": 300000000, "remark": "choujiang"},  
    {"addr": "5ReynWGy2jryLEyH9cLM1yGLXWb5TSneCme5HUoqVtz6ugzq", "amount": 300000000, "remark": "choujiang"},

    {"addr": "5RGoB7mb6FxHB1rab3xWsFiMZEgJ99NUyS4EgYAxnC8zJ1jX", "amount": 200000000, "remark": "choujiang"},
    {"addr": "5TaqVDx2kQ7u7DgoaSqk7VueP444xemHPvZmFpbUYyG1AQqf", "amount": 200000000, "remark": "choujiang"},
    {"addr": "5SNayB4WiBfXGBq97LxqdUbVCUgwUWMhR9k9M2RuCVtej7u2", "amount": 200000000, "remark": "choujiang"},
    {"addr": "5Pt82qU7Z5vGJ6exjbjy97WU519X9XS6AfvF1mSMJamwz8FV", "amount": 200000000, "remark": "choujiang"},
    {"addr": "5SEEezYcK8JBYcSbSZEgvVFS9MBG2VRBz8yccjwxwdYRoXuL", "amount": 200000000, "remark": "choujiang"},
    {"addr": "5VPJ78BWkBtgQ51H7DaJZVmehfQFfpeURb1Egi34ZqUnHN6y", "amount": 200000000, "remark": "choujiang"},
    {"addr": "5US2i22otvjvoRWDTgyCKDsat3gC2dr4dx1hoPapJYKgdzdQ", "amount": 200000000, "remark": "choujiang"},
    {"addr": "5VBA9ryoWPBEre4FW9XUpuTYySXvH4dJUub4VmweZBjJGb2Q", "amount": 200000000, "remark": "choujiang"},

    {"addr": "5Poiub6rBa2aG44EuN7cVmpzT1D3MLZcAsCgVrd6R9eKRX5E", "amount": 100000000, "remark": "choujiang"},
    {"addr": "5QduxEX8mzw8n7LnC4yEBzDiEpBu9ebaZQuVznWHjAjzbDQh", "amount": 100000000, "remark": "choujiang"},
    {"addr": "5R6THnTwCuYWy4cSzQ4VyLD6sfPUUQo29w9GNdHzA4sB1hPy", "amount": 100000000, "remark": "choujiang"},
    {"addr": "5QqTooki4qfWqsRr7tbV6uE4JieWoYPTsGbyDFYJfhubiSr3", "amount": 100000000, "remark": "choujiang"},
    {"addr": "5V3PmABeqGdoh65CTMyDb2Jgwf5veiqKonuwt1M3DSBspogi", "amount": 100000000, "remark": "choujiang"},
    {"addr": "5V3PmABeqGdoh65CTMyDb2Jgwf5veiqKonuwt1M3DSBspogi", "amount": 100000000, "remark": "choujiang"},
    {"addr": "5PeBGwqcV4ivdmQ77LepQdhij5Z7mUUtFesmWxa1NotFZegT", "amount": 100000000, "remark": "choujiang"},
    {"addr": "5RxghVB1fkvuSV1PJSgte7jH9rbpMp1eZwyGoKHybHtdiTqn", "amount": 100000000, "remark": "choujiang"},
    {"addr": "5TdpGcLoLjMGNJ5yDe7DYFjtCNGfMFftNWkiXjJaTF2RkaVK", "amount": 100000000, "remark": "choujiang"},
    {"addr": "5TPmgCPZ782xn2t9CuvLXFkZ84pMquczE7XGBixoqTh5vAdR", "amount": 100000000, "remark": "choujiang"},
    {"addr": "5PhBPtNFksWy7xdHUcVfxgT3dkrVkfbxkHfQmW1oHohGbTCY", "amount": 100000000, "remark": "choujiang"},
    {"addr": "5R8wU3xswNe64ft7QdNh7NyMvcnxQvTABuvg5ainuaAgEApk", "amount": 100000000, "remark": "choujiang"},
    {"addr": "5TMzKqSBH9SYkkwiizpiaR3MNvfoENq6ZdCpGBUKty2kDZor", "amount": 100000000, "remark": "choujiang"},
    {"addr": "5RT6cTActYt1FR5N9Nx414mnYMuZvpdvmZVgd4USSbzb7yjz", "amount": 100000000, "remark": "choujiang"},
    {"addr": "5TzyvNmiMcHV4XPNi2KG2qMEkshQx1E7deRU7g9Uyzd8CUHv", "amount": 100000000, "remark": "choujiang"},
    {"addr": "5Rbrz1UWTxuxUTYQHyH95h9AvridCsz8g3HJrUCdrWhQNBNg", "amount": 100000000, "remark": "choujiang"},
    {"addr": "5RCA7KbKSocyr1j7v72X1j5BFkSpG7UDsjXfvXpy9ZbcwJjd", "amount": 100000000, "remark": "choujiang"},
    {"addr": "5Su4sNPxxrZ39ezKmxcRXwYqJusEi8qgG7RyeDu4ZdxbBpgN", "amount": 100000000, "remark": "choujiang"},
    {"addr": "5SjB3H6MS9xxqsajDR6dU8iEnvpWxsVuW6euAWKChdQub7Tj", "amount": 100000000, "remark": "choujiang"},
    {"addr": "5S4E316bs8aFez5BpdivP2YhfSGKLapihWtXRi1iFCyAfREH", "amount": 100000000, "remark": "choujiang"},
    {"addr": "5U5LXrY379nR8MXQXzngsYHMPqtEGFiVThYgpAjMmVWDsMDB", "amount": 100000000, "remark": "choujiang"},
    {"addr": "5Q1aDBedMckgMmuhWgnMRQEed2TchGX15wppCz2ktmjAUVrg", "amount": 100000000, "remark": "choujiang"},
    {"addr": "5Swk4qhzgp6gKoT81dBzh3XoAuiLScZbi498yixW3mqZVVey", "amount": 100000000, "remark": "choujiang"},
    {"addr": "5U2kzWbwx6EqPBh33JTw5uKroKyJYCVQJ3yzwgRLbXD7mMTu", "amount": 100000000, "remark": "choujiang"},
    {"addr": "5T83ZeSC2ZcqfZESgB9FxpuADjeXDzELYb45Gsk68zUvDfyj", "amount": 100000000, "remark": "choujiang"},
    {"addr": "5VJuTwTPA3yXch5X5DMNoEoMytKvGtr2BErRzB3CWeyEpGUp", "amount": 100000000, "remark": "choujiang"},
    {"addr": "5R3qujo8Zo9mVRDS5HyedY8iST6X78hzGwHx3fJf6qCmsAxs", "amount": 100000000, "remark": "choujiang"}
  ]
}